

#header, #menus, div.limitedHeader {
   background-color: grey !important;
     
}

#warning {
    margin-left: 30px;
    margin-top: 28px;
    float: left;
    font-size: 20px;
    font-style: italic;
}


#searchList div a, #mainList ul li a {
    color: white !important;
}
